.chats{
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chats__header{
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

.chats__headerInfo{
  flex: 1;
  padding-left: 20px;
}

.chats__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chats__headerInfo > p{
  color: #808080;
}

.chats__headerRight{
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chats__body{
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: auto;
}

.chats__message{
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chats__reciever{
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
  margin-left: auto;
  background-color: #dcf8c6;
}

.chats__name{
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chats__timestamp{
  margin-left: 10px;
  font-size: xx-small;
}

.chats__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid #d3d3d3;
}

.chats__footer > form{
  flex: 1;
  display: flex;
}

.chats__footer > form > input{
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chats__footer > form > button {
  display: none;
}

.chats__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: #808080;
}